/* Estilos para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

/* Estilos para el encabezado */
header {
    background-color: #5b81aa;
    color: white;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 36px;
    margin: 0;
}

header h5 {
    font-size: 18px;
    margin: 0;
}

/* Estilos para el formulario */
section {
    margin: 20px auto;
    max-width: 800px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
}

table td {
    padding: 10px;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #5b81aa;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

/* Estilos para el pie de página */
footer {
    background-color: #5b81aa;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Estilos para la imagen del trabajador */
table img {
    max-width: 100%;
    height: auto;
}
